@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik:wght@300&display=swap');

html {
  font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

* {
  box-sizing: border-box;
}

html,
body,
#root,
#main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
}

body {
  background: #000;
  font-family: 'Bebas Neue', cursive;
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100%;
  height: 100%;
  background-image: url('../public/kyle-johnson-8Gl7Ew-q6D8-unsplash.jpg');
  background-size: cover;

  /* Add the blur effect */
  filter: blur(10px);

  /* Add the opacity effect */
  opacity: 0.3;
}

.overlay {
  top: 50%;
  left: 0;
  width: 100%;
  height: 15vh;
  position: absolute;
  opacity: 0.1;
  z-index: 800;

}

.overlay canvas {
  width: 100%;
}

.ctaButton {
  width: max-content;
  position: fixed;
  transform: translate3d(-50%, -50%, 0);
  top: 50%;
  left: 50%;
  background-image: url('../public/chinnu-indrakumar-cWCPgApspE4-unsplash.jpg');
  background-size: cover;
  text-align: center;
  pointer-events: all;
  cursor: pointer;
  padding: 15px 20px;
  border-radius: 10px;
  border: 2px solid white;
  color: white;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  font-family: 'Rubik', sans-serif;
  transition: all 0.8s ease-in-out;
  margin: 0;
  z-index: 888;
  /* Add the opacity effect */
  opacity: 0.5;
}

.ctaButton:hover {
  background-image: url('../public/chinnu-indrakumar-cWCPgApspE4-unsplash.jpg');
  background-size: cover;
  color: white;
  /* Add the opacity effect */
  opacity: 1;
}

h1 {
  font-size: 5vw;
  letter-spacing: -0.7px;
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.719);
  text-transform: uppercase;
  width: 95%;
  margin-bottom: 0.4em;
  text-align: center;
}

button {
  pointer-events: auto;
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 9vw;
    width: 100%;
  }

  header {
    padding: 20px;
  }

  .support {
    display: none;
  }

  .overlay {
    padding-bottom: 120px;
    height: 50%;
    z-index: 88;
  }

  .ctaButton {
    justify-content: center;
    width: max-content;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    font-family: 'Rubik', sans-serif;
    transition: all 0.8s ease-in-out;
  }

  .contact {
    margin: 0;
    font-size: 0.4em;
  }
}

canvas {
  touch-action: auto;
}

